<!-- Username Prompt -->
<h2>Choose your username</h2>
<p>You don't seem to have entered a username yet. Choose one now and start Freeting!</p>
<div class="form-group">
  <input type="text" class="form-control" id="username-prompt-input" placeholder="Enter your username">
</div>